DATABASE_URL="postgresql://brighteyes:Sana%4011092005@localhost:5433/glass_db?schema=public"
PORT=3000
JWT_SECRET="super_secret_brighteyes_jwt_access_key_2026"
JWT_REFRESH_SECRET="super_secret_brighteyes_jwt_refresh_key_2026"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:5173"
